* {
    margin: 0px;
}

.import {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    textarea {
        flex-grow: 1;
    }

    .save-bar {
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    .saved-notification {
        font-size: 16px;
        padding: 7px 24px;
        margin: 5px 0px;
    }

    .off {
        display: none;
    }

    .save {
        margin: 5px 0px;
        max-width: fit-content;
        background-color: #908be6; /* Green */
        border: none;
        color: white;
        padding: 10px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    
    .save:hover {
        background-color: #5e57e6;
    }
}

.tutorial {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about {
    height: calc(100% - 25px);
    overflow-y: scroll;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    // max-width: 800px;
    // margin: 40px auto;
    padding: 10px;
    background-color: #f8f9fa;
    h2, h3 {
        color: #333;
    }
    a {
        color: #007bff;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .container {
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    ul {
        padding-left: 20px;
    }
    ul li {
        margin-bottom: 8px;
    }
    .section {
        margin-bottom: 20px;
    }
}

.editor {
    .w-md-editor-toolbar, .w-md-editor-toolbar > ul {
        min-height: 35px;
    }

    .about-tab,#rc-tabs-0-tab-donate {
        color: red;
        font-weight: 400;
    }

    .ant-tabs-nav {
        margin-left: 10px;
    }

    .ant-tabs {
        height: 100%;
    }

    .ant-tabs-tabpane {
        height: 100%;
    }

    .ant-tabs-content {
        height: 100%;
    }

    .container {
        height: 100%;
    }

    .wmde-markdown-var {
        height: 100% !important;
    }
}